/* css styles */
body {
	user-select: none;
}

.jacket {
	position: absolute;
	text-align: center;
}

#jacket {
	position: relative;
	display:inline-block;
	text-align: center;
}

.imgMusic {
	width: 25vh;
	height : 25vh;
	border: 1px solid black;
	position: center;
}

.imgMusic:hover {
	filter: opacity(80%);
}